doctype html
html(lang = 'zh')
    include includes/head
    body#main
        include includes/nav
        .jumbotron
            .container
                h1 内部通讯录
                h2 通过筛选器选择过滤条件，通过搜索栏直接搜索（支持正则表达式）
                .row
                    .col-md-offset-9.col-md-3
                        .input-group
                            input.form-control(type = 'text')
                            span.input-group-btn
                                button.btn.btn-default(type = 'button', name = 'search') 搜索

        .container
            aside
                .list-group.col-md-3(data-spy = 'affix', data-offset-top = '300')
                    a.list-group-item.list-group-brand MSTC ZJU Contact 筛选器
                    a.list-group-item.active(href = '#') 全部
                    a.list-group-item(data-toggle = 'collapse', data-target = '#gender') 性别
                    #gender.collapse.filterbox
                        .checkbox
                            label
                                input(type = 'checkbox', value = 'male')
                                |  男
                        .checkbox
                            label
                                input(type = 'checkbox', value = 'female')
                                |  女
                    a.list-group-item(data-toggle = 'collapse', data-target = '#grade') 年级
                    #grade.collapse.filterbox
                        .checkbox
                            label
                               input(type = 'checkbox', value = 'one')
                               |  大一
                        .checkbox
                            label
                               input(type = 'checkbox', value = 'two')
                               |  大二
                        .checkbox
                            label
                               input(type = 'checkbox', value = 'three')
                               |  大三
                        .checkbox
                            label
                               input(type = 'checkbox', value = 'four')
                               |  大四
                        .checkbox
                            label
                               input(type = 'checkbox', value = 'master')
                               |  研究生
                        .checkbox
                            label
                               input(type = 'checkbox', value = 'work')
                               |  工作
                    a.list-group-item(data-toggle = 'collapse', data-target = '#group') Group
                    #group.collapse.filterbox
                        .checkbox
                            label
                                input(type = 'checkbox', value = 'TG')
                                |  TG
                        .checkbox
                            label
                                input(type = 'checkbox', value = 'OG')
                                |  OG
                        .checkbox
                            label
                                input(type = 'checkbox', value = 'CG')
                                |  CG
                        .checkbox
                            label
                                input(type = 'checkbox', value = 'PG')
                                |  PG
                    a.list-group-item(data-toggle = 'collapse', data-target = '#campus') 所在校区
                    #campus.collapse.filterbox
                        .checkbox
                            label
                                input(type = 'checkbox', value = 'zijingang')
                                |  紫金港
                        .checkbox
                            label
                                input(type = 'checkbox', value = 'yuquan')
                                |  玉泉
                        .checkbox
                            label
                                input(type = 'checkbox', value = 'xixi')
                                |  西溪
                        .checkbox
                            label
                                input(type = 'checkbox', value = 'huajiachi')
                                |  华家池
            .row
                .col-md-offset-3.col-md-9
                    .table-responsive
                        table.main-table.table.table-striped.table-hover
                            tr
                                th 姓名
                                th 常用ID
                                th 长号
                                th 短号
                            each person, index in people
                                tr(data-toggle = 'modal', data-target = '#' + index)
                                    td= person.name
                                    td= person.nickname
                                    td= person.longNumber
                                    td= person.shortNumber
            each person, index in people
                div.modal.fade(id = index, role = 'dialog', aria-labeledby = 'Lable' + index)
                    .modal-dialog
                        .modal-content
                            .modal-header
                                button.close(type = 'button', data-dismiss = 'modal', aria-hidden = 'true') &times;
                                h4.modal-title(id = 'Label' + index)= person.name
                            .modal-body
                                h5 基本信息
                                table
                                    tr
                                        th 性别
                                        td 
                                    tr
                                        th 专业
                                        td 
                                    tr
                                        th 所在校区
                                        td
                                    tr
                                        th Group
                                        td 
                                    tr
                                        th 常用ID
                                        td 
                                h5 联系方式
                                table
                                    tr
                                        th 长号
                                        td 
                                    tr
                                        th 短号
                                        td
                                    tr
                                        th 邮箱
                                        td
                                    tr
                                        th QQ
                                        td
                                    tr
                                        th 主页
                                        td
                                    tr 
                                        th 人人
                                        td
                                    tr 
                                        th 新浪微博
                                        td
                                    tr 
                                        th Twitter
                                        td
                                    tr
                                        th Facebook
                                        td
                            .modal-footer
                                button.btn.btn-default(type = 'button', data-dismiss = 'modal', aria-hidden = 'true') 关闭

        include includes/footer
        include includes/js
