doctype html
html(lang = 'zh')

    include includes/head
    body#main
        include includes/nav
        if firstLogin
            #flag= loginAs
        #who= loginAs
        .jumbotron
            .container
                h1 内部通讯录
                h2 通过筛选器选择过滤条件，通过搜索栏直接搜索，点击表格查看详细信息
                .row
                    .col-md-offset-9.col-md-3
                        .input-group
                            input.form-control(type = 'text', name = 'search')
                            span.input-group-btn
                                button.btn.btn-default(name = 'searchSubmit') 搜索

        .container.main-content
            .row
                aside.col-md-3
                    .list-group.visible-lg.visible-md(data-spy = 'affix', data-offset-top = '300')
                        a.list-group-item.list-group-brand MSTC ZJU Contact 筛选器
                        a#checkAll.list-group-item.active 全部
                        a.list-group-item(data-toggle = 'collapse', data-target = '#sex') 性别
                        #sex.collapse.filterbox
                            .checkbox
                                label
                                    input(type = 'checkbox', value = 'male', checked=true)
                                    |  男
                            .checkbox
                                label
                                    input(type = 'checkbox', value = 'female', checked)
                                    |  女
                            .checkbox
                                label
                                    input(type = 'checkbox', value = 'unknown', checked)
                                    |  不明
                        a.list-group-item(data-toggle = 'collapse', data-target = '#grade') 年级
                        #grade.collapse.filterbox
                            .checkbox
                                label
                                   input(type = 'checkbox', value = 'one', checked)
                                   |  大一
                            .checkbox
                                label
                                   input(type = 'checkbox', value = 'two', checked)
                                   |  大二
                            .checkbox
                                label
                                   input(type = 'checkbox', value = 'three', checked)
                                   |  大三
                            .checkbox
                                label
                                   input(type = 'checkbox', value = 'four', checked)
                                   |  大四
                            .checkbox
                                label
                                   input(type = 'checkbox', value = 'master', checked)
                                   |  研究生
                            .checkbox
                                label
                                   input(type = 'checkbox', value = 'work', checked)
                                   |  工作
                            .checkbox
                                label
                                    input(type = 'checkbox', value = 'unknown', checked)
                                    |  不明
                        a.list-group-item(data-toggle = 'collapse', data-target = '#group') Group
                        #group.collapse.filterbox
                            .checkbox
                                label
                                    input(type = 'checkbox', value = 'TG', checked)
                                    |  TG
                            .checkbox
                                label
                                    input(type = 'checkbox', value = 'OG', checked)
                                    |  OG
                            .checkbox
                                label
                                    input(type = 'checkbox', value = 'CG', checked)
                                    |  CG
                            .checkbox
                                label
                                    input(type = 'checkbox', value = 'PG', checked)
                                    |  PG
                            .checkbox
                                label
                                    input(type = 'checkbox', value = 'unknown', checked)
                                    |  不明
                        a.list-group-item(data-toggle = 'collapse', data-target = '#campus') 所在校区
                        #campus.collapse.filterbox
                            .checkbox
                                label
                                    input(type = 'checkbox', value = 'zijingang', checked)
                                    |  紫金港
                            .checkbox
                                label
                                    input(type = 'checkbox', value = 'yuquan', checked)
                                    |  玉泉
                            .checkbox
                                label
                                    input(type = 'checkbox', value = 'xixi', checked)
                                    |  西溪
                            .checkbox
                                label
                                    input(type = 'checkbox', value = 'huajiachi', checked)
                                    |  华家池
                            .checkbox
                                label
                                    input(type = 'checkbox', value = 'zhijiang', checked)
                                    |  之江
                            .checkbox
                                label
                                    input(type = 'checkbox', value = 'unknown', checked)
                                    |  不明
                .col-md-9
                    .table-responsive
                        table.main-table.table.table-hover
                            thead
                                tr
                                    th 姓名
                                    th 常用ID
                                    th 长号
                                    th 短号
                            tbody
                                each person, index in people
                                    tr(data-toggle = 'modal', data-target = '#' + index, data-id = '' + person._id)
                                        td= person.name
                                        td= person.nickname
                                        td= person.longNumber
                                        td= person.shortNumber
            each person, index in people
                .modal.fade.nameCard(id = index, role = 'dialog', aria-labeledby = 'Lable' + index)
                    .modal-dialog
                        .modal-content(id = person._id)
                            .modal-header
                                button.close(type = 'button', data-dismiss = 'modal', aria-hidden = 'true') &times;
                                h4.modal-title(id = 'Label' + index)= person.name
                            .modal-body
                                h5 基本信息
                                table.basic-table
                                    tbody
                                        tr
                                            th 学号
                                            td(name = 'sid')= person.sid
                                        tr
                                            th 性别
                                            td(name = 'sex')= person.sex
                                        tr
                                            th 专业
                                            td(name = 'major')= person.major
                                        tr
                                            th 年级
                                            td(name = 'grade')= person.grade
                                        tr
                                            th 入学时间
                                            td(name = 'enrollTime')= person.enrollTime
                                        tr
                                            th 所在校区
                                            td(name = 'campus')= person.campus
                                        tr
                                            th Group
                                            td(name = 'group')= person.group
                                        tr
                                            th 常用ID
                                            td(name = 'nickname')= person.nickname
                                h5 联系方式
                                table
                                    tbody
                                        tr
                                            th 长号
                                            td(name = 'longNumber')= person.longNumber
                                        tr
                                            th 短号
                                            td(name = 'shortNumber')= person.shortNumber
                                        tr
                                            th 邮箱
                                            td(name = 'email')= person.email
                                        tr
                                            th QQ
                                            td(name = 'qq')= person.qq
                            .modal-footer
                                if (loginAs == person._id || admin)
                                    button.btn.btn-primary(type = 'button', name = 'change', data-id = '' + person._id) 修改
                                button.btn.btn-default(type = 'button', data-dismiss = 'modal', aria-hidden = 'true', name = 'close') 关闭

        form#export(action = '/export', method = 'post', role = 'form')

        include includes/changeBox
        include includes/footer
        include includes/js
